/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

body
{
    box-sizing: border-box;
    user-select: none;
    margin: auto;
    font-family: 
    Hiragino Sans,
   "ヒラギノ角ゴシック",
   Meiryo,
   "メイリオ"
}

@media screen and (min-width: 960px) {

html
{
    font-size:1vw;
}

header
{
    position: fixed;
    width:100%;
    height:10vmin;
    z-index: 1;

}

.header-logo
{
    float: left;
    position: absolute;
    height: 7vmin;
    width: auto;
    margin-top:1.5vmin;
    margin-left:3vw;
    text-align: center;
    font-size:1.2vw;
    opacity: 1;
    transition: 0.5s;

    
}

.hamburger
{
    display: none;
}

.menu-bar
{
    float:right;
    width:70%;
    opacity: 1;
}

.normal-screen
{
    display:block;
}
.hamburger-screen
{
    display: none;
}

.menu-bar-contents
{
    float: right;
    display: flex;
    text-align: center;
    padding:0 2%;
    margin:0px 1%;
    line-height: 10vmin;
    font-size:1rem;
}

.non-accent
{
    color:white;
}

.accent
{
    background-color: #DB6060;
    color:white;
    margin-right: 0;
    font-weight: bold;  
}

.top-picture
{
    background-image: url("../Picture/no9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    width: 100%;
    height: 100vh;
}

.top-picture h1
    {
        position: absolute;
        top:35vh;
        width: 90%;
        margin-left: 5%;
        display: inline-block;
        color:white;        
        font-size: 4vmin;
        font-weight: bold;
        line-height: 8vmin;
        text-shadow: 0.2vmin 0.2vmin 0.1vmin black;
        text-align: center;
    }

    .top-picture p
    {
        width: 100%;
        position: absolute;
        top:60vh;
        display: inline-block;
        color: white;
        font-size:2.4vmin;
        line-height: 4.8vmin;
        text-align: center;
        
    }

    .top-picture h1 .under-line
    {
        background: linear-gradient(transparent 50%, #DB6060 0%);
    }

.top-picture .join-button
{
    margin-top:10%;
    margin-left: 35%;
    position: absolute;
    top:60vh;
}

.catch-copy
{
    display: none;
    position: relative;
    width:50vw;
    top:8%;
    left: 10%;
}

.about,.benefit,.story,.qanda,.message,.flow,.entry
{
    margin-left: 6vw;
    margin-right: 6vw;
}

.about h1,.benefit h1,.story h1,.qanda h1,.message h1,.flow h1,.entry h1
{
    margin-top:7vmin;
    font-size: 8vmin;
    font-family:
    Hiragino Kaku Gothic ProN,
    "ヒラギノ角ゴ ProN W3",
    "ＭＳ Ｐゴシック",
   
}

.about h2,.benefit h2,.story h2
{
    margin-top: 1vmin;
    font-size: 3vmin;
}

.about p,.story p
{
    display: block;
    height: auto;
    border-left: #D9D9D9 solid 1.9vmin;
    line-height: 4vmin;
    margin-top:30px;
    padding-left: 30px;
    font-size:1.9vmin;
}

.benefit h2
{
    margin-top: 30px;
}

.benefit-pic
{
    display: block;
    width:80%;
    margin: 0 10%;
    height:auto;
    
}

.benefit-content
{
    width:1400px;
    height:200px;
    margin: 50px auto 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.benefit .number
{
    float:left;
    width:15%;
    background-color: #DB6060;
    color:white;
    font-size:100px;
    line-height: 200px;
    text-align: center;
}

.benefit .benefit-main
{
    height:200px;
    background-color: #F7F7F7;
}

.benefit .benefit-context
{
    float: left;
    width:50%;
    margin-left: 10%;
}

.benefit .sentence
{
    font-size:32px;
    color:#DB6060;
    line-height: 200px;
}

.benefit .main-sentence
{
    font-size:32px;
    margin-top:70px;
    color:#DB6060;
}

.benefit .sub-sentence
{
    font-size:20px;
    margin-top: 20px;
    color: #4B4B4B ;
}

.message-group
{
    display: table;
    width: 60%;
    height:auto;
    margin-top: 70px;
    padding:20px;
    background-color: white;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);
}

.message-group .profile
{
    display: table-cell;
    float: left;
    width: 20%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    
}
.message-group .message-main
{
    float: right;
    width:70%;
}

.message-group .message-profile
{
    float: left;
    padding-left: 1vw;
    border-left: #DB6060 solid 1vw;
}

.message-group .name
{
    font-size: 2vw;
}

.message-group .degree
{
    margin-top: 0.7vw;
    font-size: 1.5vw;
}

.message-group .message-picture
{
    width:100%;
    margin-top: 50px;

}

.flow-group
{
    margin-top: 50px;
}

.flow img
{
    float: left;
    width:20%;
    
    height: auto;
}

.flow .main
{
    float: left;
    width: 67%;
    line-height: 3vw;
    padding-left: 3%;
    font-size:1.5vw;
}

.entry-group
{
    width:80%;
    padding-top:5vmin;
    padding-bottom: 18vmin;
    margin-top:5vmin;
    margin-left:10%;
    border-radius: 3vmin;
    box-shadow: 1vmin 1vmin 2vmin rgba(0, 0, 0, 0.5);
}

.entry-group li
{
    height:8vh;
}

.entry-group li p{
    width:30%;
    line-height: 8vh;
    font-size: 2.8vmin;
    margin-left:10%;
    float: left;
}

.entry-group li p span{
    color:red;
}

.entry-group li input{
    width: 40%;
    line-height: 4vh;
    margin-top: 2vh;
    float: left;
    border-radius: 5px;
    border: 1px solid black;
}

.entry-group li .submit{
    width:40%;
    margin-top: 5vmin;
    margin-left: 30%;
    height: auto;
    border: none;
    border-radius: 0;
}

.entry-group li textarea{
    width: 40%;
    line-height: 4vh;
    margin-top: 2vh;
    float: left;
    border-radius: 5px;
    border: 1px solid black;
}
.question-group
{
    border-bottom: 1px solid #707070;
}

.question-group .question
{
    font-size: 3.2vmin;
    line-height: 5vmin;
    margin-top: 5vmin;
}

.question-group .answer
{
    font-size: 2.8vmin;
    line-height: 4.5vmin;
    margin-top: 3vmin;
}

.join-button
{
    display: block;
    width:30%;
    height: auto;
    margin: 10% 35% 100px auto;
    background-color: #DB6060;
    color:white;
    line-height: 100px;
    text-align: center;
    font-size:24px;
    border: none;
    border-radius: 0;
    
}

.qanda .join-button{
    width:30%;
    margin-top: 50px;
    margin-left: 35%;
    margin-bottom: 50px;
    height: auto;
    border: none;
    border-radius: 0;
}

a
{
    text-decoration: none;
}


footer
{
    height:10vmin;
    background-color: #EAEAEA;
    color: #707070;
    font-size: 2.4vmin;
    line-height: 100px;
    text-align: center;
} 
}



@media screen and (max-width: 959px) {
    body
    {
        user-select: none;
        margin: auto;
        font-family: 
        Hiragino Sans,
    "ヒラギノ角ゴシック",
    Meiryo,
    "メイリオ"
    }
    a
    {
        text-decoration: none;
    }

    .about,.benefit,.story,.qanda,.message,.flow,.entry
{
    margin-left: 5%;
    margin-right: 5%;
}

.about h1,.benefit h1,.story h1,.qanda h1,.message h1,.flow h1,.entry h1
{
    margin-top:50px;
    font-size: 50px;
    font-family:
    Hiragino Kaku Gothic ProN,
    "ヒラギノ角ゴ ProN W3",
    "ＭＳ Ｐゴシック",
   
}

.about h2,.benefit h2,.story h2
{
    margin-top: 35px;
    font-size: 20px;
}

.about p,.story p
{
    display: inline-block;
    height: auto;
    border-left: #D9D9D9 solid 9px;
    line-height: 30px;
    margin-top:50px;
    padding-left: 10px;
    font-size:16px;
}

    header
    {
        position: fixed;
        width:100%;
        height:62px;
        background-color:rgba(255,255,255,0.8);
        z-index: 1;
    }

    header .header-logo
    {
        float: left;
        height: 50px;
        width: auto;
        margin: 5px 0;
        margin-top: 6px;
        margin-left: 3%;
        position: relative;
        top:50%;
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
        text-align:center;
        line-height: 15px;
        font-size:10px;
        transition: 0.5s;
    }

    header .hamburger
    {
        display: block;
        position: relative;
        float: right;
        width: 40px;
        margin:5px 10px;

    }

    header .hamburger i
    {
        display: block;
        width: 100%;
        height: 2px;
        margin:14px 0;
        background-color: #333;
        transition: 0.5s;
    }
    .normal-screen
    {
        display: none;
    }

    .hamburger-screen
    {
        display: block;
        position: absolute;
        top:62px;
        left: 100vh;
        float: right;
        width: 100%;
        height: calc(100vh - 62px);
        background: rgba(255,255,255,0.8);
        flex-direction:column;
        transition: .5s;
    }

    header ul li
    {
        display: block;
        line-height: 10vh;        
        text-align: right;
        padding-right: 5%;
        color:black;
    }

    .menu-1
    {
        background-color: #DB6060;
        color:white;
        font-weight: bold;
    }

    .menu-2
    {
        color:black;
        font-weight: bold;
    }

    .is-active
    {
        left:0;
    }

    .top-picture
    {
        background-image: url("../Picture/no9.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: bottom;
        width: 100%;
        height: 100vh;
    }

    .top-picture h1
    {
        width: 100%;
        position: absolute;
        top:35vh;
        display: inline-block;
        color:white;        
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
        text-shadow: 2px 2px 1px black;
        text-align: center;
    }

    .top-picture p
    {
        width: 100%;
        position: absolute;
        top:60vh;
        display: inline-block;
        color: white;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        
    }

    .top-picture h1 .under-line
    {
        background: linear-gradient(transparent 50%, #DB6060 0%);
    }

    .benefit h2
    {
        margin-bottom:30px;
    }

    .benefit-pic
    {
        width:100%;
        margin: 0 0;
        height:auto;
        
    }

    .message-group
    {
        display: table;
        width: 90%;
        height:auto;
        margin-top: 20px;
        padding:5%;
        background-color: white;
        box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);
    }

.message-group .profile
{
    display: table-cell;
    float: left;
    width: 20%;
    margin:3% 0;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    
}
.message-group .message-main
{
    float: right;
    width:70%;
}

.message-group .message-profile
{
    float: left;
    padding-left: 1vw;
    border-left: #DB6060 solid 1vw;
}

.message-group .name
{
    font-size: 2vw;
}

.message-group .degree
{
    margin-top: 0.7vw;
    font-size: 1.5vw;
}

.message-group .message-picture
{
    width:100%;
    margin-top: 25px;

}

.flow-group
{
    margin-top: 0px;
}

.flow img
{
    width:90%;
    margin-left: 5%;
    height: auto;
}

.flow .main
{
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    line-height: 28px;
    padding-left: 3%;
    font-size:16px;
}

.entry-group
{
    width:100%;
    padding-top:30px;
    padding-bottom: 30px;
    margin-top:50px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.entry-group li
{
    height:80px;
}

.entry-group li p{
    line-height: 20px;
    font-size: 10px;
    margin-left:5%;
    text-align: left;
}

.entry-group li p span{
    color:red;
}

.entry-group li input{

    line-height: 30px;
    margin-top: 10px;
    width:90%;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid black;
}

.entry-group li .submit{
    width:60%;
    margin-top: 5vmin;
    margin-left: 20%;
    height: auto;
    border: none;
    border-radius: 0;
}

.entry-group li textarea{
    width: 90%;
    margin-left: 5%;
    line-height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.question-group
{
    border-bottom: 1px solid #707070;
}

.question-group .question
{
    font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
}

.question-group .answer
{
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}

.top-picture .join-button
{
    width:60%;
    margin-left: 20%;
    margin-top:80vh;
    background-color: #DB6060;
    color:white;
    line-height: 100px;
    text-align: center;
    font-size:24px;
    
}

.qanda .join-button{
    width:60%;
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 50px;
    height: auto;
    border: none;
    border-radius: 0;
}


footer
{
    height:50px;
    background-color: #EAEAEA;
    color: #707070;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
} 

}